@import url('https://fonts.cdnfonts.com/css/aller');

.cursor{
    cursor: pointer;
    color: hsl(52, 94%, 94%);
}

.text-decorator-none {
    text-decoration: none;
}

.color{
    background-color: #606C38 !important;
}

.menu{
    margin-right: auto;
}

.fonte{
    font-family: 'aller', sans-serif !important;
    font-family: 'Aller Display', sans-serif;
    font-family: 'Aller Light', sans-serif;
    font-style: normal;
    font-weight: 300;
}
