@import url('https://fonts.cdnfonts.com/css/aller');

.text-decorator-none {
  text-decoration: none;
}

.btnDeletar {
  background-color: #bc6c25 !important;
  font-family: 'aller', sans-serif !important;
  font-weight: 500;
}

.btnAtualizar {
  background-color: #606c38 !important;
  font-family: 'aller', sans-serif !important;
  font-weight: 500;
}

.card {
  padding: 8px 23px;
  text-align: center;
  border-radius: 6px !important;
  width: 180px;
}

.cardbotao {
  display: flex !important;
  flex-direction: column!important;
  padding-left: 6% !important;
}

.cardInside {
  height: 330px;
}

.card1 {
  display: flex;
}
