@import url('https://fonts.cdnfonts.com/css/aller');


.btnNao {
    background-color: #bc6c25 !important;
    font-family: 'aller', sans-serif !important;
    font-weight: 500;
}

.btnSim {
    background-color: #606c38 !important;
    font-family: 'aller', sans-serif !important;
    font-weight: 500;
}