@import url('https://fonts.cdnfonts.com/css/aller');

.box1{
    background-color: #606C38;
    height: 120px;
}

.box2{
    background-color: #606C38;
    height: 60px;
}

.redes{
    font-size: 60px !important;
    color: #FEFAE0;
}

.textos{
   color: #FEFAE0;
   font-family: 'aller', sans-serif !important;
}
