@import url('https://fonts.cdnfonts.com/css/dustismo-roman');
@import url('https://fonts.cdnfonts.com/css/aller');


.topo {
    margin-top: 20px;
}

.cor-botao {
    background-color: #4d924d !important;
}

.fonte1{
    font-family: 'aller', sans-serif !important;
    font-family: 'Aller Display', sans-serif;
    font-family: 'Aller Light', sans-serif;
    font-style: normal;
    font-weight: 300;
}

.fonte2{
    color: #673a14 !important;
    font-family: 'Dustismo Roman', sans-serif !important;
 }
 